<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between">
        <div>
            {% for employee in employees %}
                {{ employee.first_name }} {{ employee.last_name }} {{ employee.age }} - {{ employee.department.name }}
                <a href="{% url 'delete_employee' pk=employee.pk %}">Delete</a>
            {% endfor %}
        </div>
        <div>
            {% for employee in employees2 %}
                {{ employee.first_name }} {{ employee.last_name }} - {{ employee.department.name }}
            {% endfor %}
        </div>
    </div>
</body>
</html>